<div class="container">



    <mat-card class="faq">
        <a class=""
            routerLink="/home"
            routerLinkActive="active"
            matTooltip="home">
            <mat-icon class="faq-color">keyboard_backspace</mat-icon>
        </a>
        <div fxFlex
            class="faq-padding faq-font">
            <div fxLayout="column"
                fxLayoutAlign="center">
                <div fxLayout="column"
                    class="faq-margin">
                    <div fxLayout="row">Where is data coming from?</div>

                    <p class="faq-color"> We are using public APIs for updating the website. APIs are provided by <a
                            href="https://rapidapi.com/"
                            matTooltip="link to rapid api">rapidapi.com </a>for getting information about cases in world
                        and
                        <a href="api.covid19india.org"
                            matTooltip="link to covid19 apis">api.covid19india.org</a> for cases in India.
                    </p>

                </div>

            </div>
        </div>
    </mat-card>

</div>